//BIO
//----------------------------------------------------

.bio {
  @include flexRow();
  height: 100vh;
  margin: 0 auto;

  &--textLayout {
    @include flexRow();
    align-items: flex-start;
    transform: translate(40px, 0px);
    z-index: -10;
    
  }

  h2 {
    min-width: 240px;
    &:after {
      content: "";
      background-image: $primaryGradient;
      padding: 1px;
      width: 50px;
      top: 25px;
      left: 168px;
      position: absolute;
      z-index: -10;
    }
  }

  h4 {
    margin-top: 0;
  }

  &__info {
    max-width: 400px;
  }

  &__picture {
    transform: translate(-40px, 0px);
    z-index: -10;
    max-width: 500px;
  }

  &__button {
    @include bodyFont();
    display: block;
    width: 150px;
    height: 40px;
    padding: 9px 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    background: $white;

    &:before {
      content: '';
      background-image: $primaryGradient;
      border-radius: 6px;
      padding: 2px;
      width: 100%;
      height: 100%;
      top: -2px;
      left: -2px;
      position: absolute;
      z-index: -10;
    }

    &:hover {
      background: $primaryGradient;
      color: $white;
    }
  }
}