//FRAME
//----------------------------------------------------
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $frame;
  @include flexRow();
  @include bodyFont();
  line-height: 10px;
  height: 40px;
  z-index: 20;

  &__list {
    @include flexRow();
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: auto;

    &--item {
      color: $white;
      text-transform: capitalize;
      position: relative;

      &::after {
        background: $primaryGradient;
        content: "";
        height: 2px;
        position: absolute;
        left: -10px;
        right: -10px;
        top: 50%;
        visibility: hidden;
      }

      &:hover::after {
        visibility: visible;
      }
    }

    &--itemActive {
      &:after {
        visibility: visible;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $frame;
  height: 40px;
  @include flexRow();
  justify-content: space-between;
  z-index: 10;

  -webkit-filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3));

  &__socialMedia {
    @include flexRow();
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin-left: 4%;
  }

  a {
    i {
      font-size: 1.2rem;
      color: $white;
      &:hover, &:focus {
        color: $secondaryColor;
      }
    }
  }

  &__siteCredit, &__photoCredit {
    color: $white;
    margin: 0 60px;
  }

  &__photoCredit {
    &--link {
      text-decoration: none;
      color: $white;
    }
  }
}