//COLOR SCHEME
//----------------------------------------------------
$frame: #0f0c1f;
$frameColor: #a2a9da;
$bodyColor: #4d516e;
$white: #efefef;
$primaryColor: #3b4888;
$secondaryColor: #b42c72;
$primaryGradient: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
$purpleGradient: linear-gradient(90deg, #e881d6 0%, #906be8 100%);

//MIXINS
//----------------------------------------------------
@mixin bodyFont (){
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: $bodyColor;
}

@mixin flexRow (){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn (){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//GLOBAL STYLING
//----------------------------------------------------

body {
  @include flexColumn();
  width: 100%;
  background: $white;
  border-left: 40px solid $frame;
  border-right: 40px solid $frame;
}

h1 {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: $frameColor;
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
  z-index: 10;
}

h2, h3, h4 {
  @extend h1;
}

h2 {
  font-size: 3rem;
  color: $frame;
  position: relative;
}

h3 {
  font-weight: 400;
  font-size: 3rem;
  color: $secondaryColor;
}

h4 {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 20px 0;
  background: $primaryGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

h5, p {
  @include bodyFont();
}

h5 {
  font-size: 1.2rem;
}

.wrapper {
  width: 80%;
}