//COLOR SCHEME
//----------------------------------------------------
$frame: #0f0c1f;
$frameColor: #a2a9da;
$bodyColor: #4d516e;
$white: #efefef;
$primaryColor: #3b4888;
$secondaryColor: #a43c71;
$primaryGradient: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
$purpleGradient: linear-gradient(90deg, #e881d6 0%, #906be8 100%);
$orangeGradient: linear-gradient(90deg, #ffac10 0%, #ff7d04 100%);
$blueGradient: linear-gradient(90deg, #42abfa 0%, #7a8dfe 100%);
$greenGradient: linear-gradient(90deg, #0cf571 0%, #45fbdd 100%);

//MIXINS
//----------------------------------------------------
@mixin bodyFont (){
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: $bodyColor;
}

@mixin flexRow (){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn (){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin wrapper (){
  width: 80%;
}

//GLOBAL STYLING
//----------------------------------------------------
body {
  @include flexColumn();
  background: $white;
  border-left: 40px solid $frame;
  border-right: 40px solid $frame;
  scroll-behavior: smooth;
}

h1 {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: $primaryColor;
}

h2 {
  @extend h1;
  font-weight: 700;
  font-size: 2rem;
  color: $frame;
  position: relative;
}

h3 {
  @extend h1;
  font-size: 2rem;
  color: $secondaryColor;
}

h4 {
  @extend h1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 20px;
  background: $primaryGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

h5 {
  @include bodyFont();
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  @include bodyFont()
}