//HEADER
//----------------------------------------------------

header {
  height: 100vh;
  @include flexColumn();
  text-align: center;

}

.header{
  &__arrow {
    font-size: 1.2rem;
  }
}

.el {
  position: absolute;
  opacity: 0.7;
  width: 4px;
  max-height: 80%;
  height: 15vh;
  top: 28%;
  transform-origin: 50% 150%;
  background: white;
  z-index: -5;
}
