//SKILLS
//----------------------------------------------------

.skills {
  @include flexColumn();
  min-height: 100vh;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 50px;
  }

  &__list {
    @include flexRow();
    flex-flow: wrap;
  }

  &__skill {
    @include flexColumn();
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  
  img {
    border-radius: 50%;
    border: 10px solid blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    position: relative;
    filter: invert(0.75) saturate(5) hue-rotate(175deg);
  }
}