/*Setup*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1, h2, h3, h4 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, .contact textarea, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input, .contact textarea {
  line-height: normal; }

button, html input[type=button], html .contact textarea[type=button], .contact html textarea[type=button], input[type=reset], .contact textarea[type=reset], input[type=submit], .contact textarea[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled], .contact textarea[disabled] {
  cursor: default; }

input[type=checkbox], .contact textarea[type=checkbox], input[type=radio], .contact textarea[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search], .contact textarea[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, .contact textarea[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, .contact textarea[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner, .contact textarea::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth; }

body {
  font-size: 62.5%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.visibilityHidden {
  visibility: hidden;
  height: 0;
  width: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #efefef;
  border-left: 40px solid #0f0c1f;
  border-right: 40px solid #0f0c1f; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #a2a9da;
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
  z-index: 10; }

h2 {
  font-size: 3rem;
  color: #0f0c1f;
  position: relative; }

h3 {
  font-weight: 400;
  font-size: 3rem;
  color: #b42c72; }

h4 {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 20px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
  background: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
  background: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
  background: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent; }

h5, p {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4d516e; }

h5 {
  font-size: 1.2rem; }

.wrapper {
  width: 80%; }

.skipToMain {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: -webkit-gradient(linear, left top, right top, from(#e881d6), to(#906be8));
  background: -webkit-linear-gradient(left, #e881d6 0%, #906be8 100%);
  background: -o-linear-gradient(left, #e881d6 0%, #906be8 100%);
  background: linear-gradient(90deg, #e881d6 0%, #906be8 100%);
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4d516e;
  text-align: center;
  color: #0f0c1f;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 20px;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px); }
  .skipToMain:focus, .skipToMain:active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .skipToMain:hover {
    background: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
    background: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
    background: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
    background: linear-gradient(90deg, #f5637b 0%, #b539a8 100%); }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0f0c1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #4d516e;
  line-height: 10px;
  height: 40px;
  z-index: 20; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: auto; }
    .menu__list--item {
      color: #efefef;
      text-transform: capitalize;
      position: relative; }
      .menu__list--item::after {
        background: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
        background: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
        content: "";
        height: 2px;
        position: absolute;
        left: -10px;
        right: -10px;
        top: 50%;
        visibility: hidden; }
      .menu__list--item:hover::after {
        visibility: visible; }
    .menu__list--itemActive:after {
      visibility: visible; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0f0c1f;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
  -webkit-filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3)); }
  .footer__socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin-left: 4%; }
  .footer a i {
    font-size: 1.2rem;
    color: #efefef; }
    .footer a i:hover, .footer a i:focus {
      color: #b42c72; }
  .footer__siteCredit, .footer__photoCredit {
    color: #efefef;
    margin: 0 60px; }
  .footer__photoCredit--link {
    text-decoration: none;
    color: #efefef; }

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: #0f0c1f; }

.header__arrow {
  font-size: 1.2rem;
  color: #a2a9da; }

.header__content {
  position: relative;
  width: 800px;
  max-width: 90%;
  height: 50%;
  max-height: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.myAnime {
  width: 100%;
  height: 100%;
  position: absolute; }

.el {
  position: absolute;
  opacity: 0.2;
  width: 6px;
  height: 30%;
  top: 0;
  left: 50%;
  -webkit-transform-origin: 0% 170%;
  -ms-transform-origin: 0% 170%;
  transform-origin: 0% 170%; }

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto; }
  .bio--textLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transform: translate(40px, 0px);
    -ms-transform: translate(40px, 0px);
    transform: translate(40px, 0px); }
  .bio h2 {
    min-width: 240px;
    z-index: -10; }
    .bio h2:after {
      content: "";
      background-image: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
      background-image: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background-image: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background-image: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
      padding: 1px;
      width: 50px;
      top: 25px;
      left: 168px;
      position: absolute;
      z-index: -10; }
  .bio h4 {
    margin-top: 0; }
  .bio__info {
    max-width: 400px; }
  .bio__picture {
    -webkit-transform: translate(-40px, 0px);
    -ms-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
    z-index: -10;
    max-width: 500px; }
  .bio__button {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #4d516e;
    display: block;
    width: 150px;
    height: 40px;
    padding: 9px 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    background: #efefef; }
    .bio__button:before {
      content: '';
      background-image: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
      background-image: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background-image: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background-image: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
      border-radius: 6px;
      padding: 2px;
      width: 100%;
      height: 100%;
      top: -2px;
      left: -2px;
      position: absolute;
      z-index: -20; }
    .bio__button:hover {
      background: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
      background: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
      background: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
      color: #efefef; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 130px; }
  .projects h2 {
    z-index: -10; }
  .projects__singleProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .projects__singleProject--flip {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .projects__projectImage {
    max-width: 500px;
    margin: 0 20px;
    -webkit-filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.3)); }
  .projects__projectInfo {
    max-width: 500px;
    margin: 0 20px; }
    .projects__projectInfo h4 {
      z-index: -10; }
  .projects__projectLinks {
    position: relative; }
  .projects__projectButtons {
    margin-top: 20px;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
    text-transform: capitalize; }
    .projects__projectButtons--link {
      position: relative;
      border-radius: 5px;
      background: #efefef;
      width: 150px;
      height: 40px;
      display: block;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #4d516e;
      font-weight: 700;
      text-align: center;
      padding-top: 8px; }
      .projects__projectButtons--link:before {
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
        background-image: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background-image: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background-image: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
        border-radius: 6px;
        padding: 2px;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        position: absolute;
        z-index: -1; }
      .projects__projectButtons--link:hover {
        background: -webkit-gradient(linear, left top, right top, from(#f5637b), to(#b539a8));
        background: -webkit-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background: -o-linear-gradient(left, #f5637b 0%, #b539a8 100%);
        background: linear-gradient(90deg, #f5637b 0%, #b539a8 100%);
        color: #efefef; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 40px; }
  .skills h2 {
    margin-bottom: 50px;
    z-index: -10; }
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  .skills__skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px; }
  .skills img {
    border-radius: 50%;
    border: 10px solid blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    position: relative;
    -webkit-filter: invert(0.75) saturate(5) hue-rotate(175deg);
    filter: invert(0.75) saturate(5) hue-rotate(175deg); }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 500px;
  background: #0f0c1f; }
  .contact h2 {
    color: #a2a9da;
    margin: 30px 0 40px 0;
    z-index: 1; }
  .contact input, .contact textarea,
  .contact textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none; }
  .contact input, .contact textarea {
    height: 60px;
    padding-left: 15px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #4d516e;
    font-weight: 700; }
    .contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
      opacity: 1; }
    .contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
      opacity: 1; }
    .contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
      opacity: 1; }
    .contact input::placeholder, .contact textarea::placeholder {
      opacity: 1; }
  .contact input[type=submit], .contact textarea[type=submit] {
    background: #b42c72;
    border: none;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #4d516e;
    font-weight: 700;
    color: #efefef;
    padding: 0;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear; }
    .contact input[type=submit]:hover, .contact textarea[type=submit]:hover, .contact input[type=submit]:focus, .contact textarea[type=submit]:focus {
      background: #a2a9da;
      color: #0f0c1f;
      -webkit-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear; }
  .contact textarea {
    height: 220px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #4d516e;
    font-weight: 700;
    padding-top: 15px; }
  .contact .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .contact .form label {
      display: block;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #4d516e; }
    .contact .form--leftItems, .contact .form--rightItems {
      width: calc(50% - 10px); }
    .contact .form--leftItems {
      margin-right: 20px; }
    .contact .form--bottom {
      width: 100%; }

@media all and (max-width: 1200px) {
  .bio {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    max-width: 100%; }
    .bio--textLayout {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 50%; }
    .bio h2::after {
      display: none; }
    .bio h4 {
      margin-top: 20px; }
    .bio__picture {
      width: 50%; }
  .projects h2 {
    margin-bottom: 20px; }
  .projects h3 {
    font-size: 2rem; }
  .projects__singleProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0; }
  .projects__projectInfo {
    text-align: center;
    max-width: 100%;
    margin: 0 0 20px 0; }
  .projects__projectButtons {
    margin: auto;
    -webkit-transform: translate(0, 40px);
    -ms-transform: translate(0, 40px);
    transform: translate(0, 40px); }
  .projects__projectLinks {
    -webkit-transform: translate(0, -60px);
    -ms-transform: translate(0, -60px);
    transform: translate(0, -60px); }
  .projects__projectImage {
    max-width: 100%;
    min-width: 250px;
    margin: 0; } }

@media all and (max-width: 900px) {
  .footer__siteCredit, .footer__photoCredit {
    font-size: 0.8rem;
    margin: 0 40px; } }

@media all and (max-width: 850px) {
  .projects__projectInfo {
    text-align: center;
    max-width: 100%;
    margin: 0 0 60px 0; }
  .projects__projectLinks {
    -webkit-transform: translate(0, -60px);
    -ms-transform: translate(0, -60px);
    transform: translate(0, -60px); }
  .projects__projectButtons {
    margin: 20px auto;
    -webkit-transform: translate 0, 0;
    -ms-transform: translate 0, 0;
    transform: translate 0, 0; }
  .projects__projectImage {
    max-width: 100%;
    min-width: 250px;
    margin: 0; } }

@media all and (max-width: 750px) {
  body {
    border: none; }
  .wrapper {
    width: 90%; }
  h1, h2, h3, h4 {
    font-size: 3.5rem; }
  h4 {
    font-size: 1rem; }
  .bio {
    margin: auto;
    height: inherit;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .bio--textLayout {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      max-width: 100%;
      width: 100%;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .bio__picture {
      max-width: 100%;
      width: 80%;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      margin-top: 20px; }
    .bio__button {
      margin: 25px auto 0 auto; }
  .contact {
    padding-bottom: 50px; }
    .contact .form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .contact .form--leftItems, .contact .form--rightItems {
        width: 100%;
        margin: 0; }
  .footer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 120px; }
    .footer__siteCredit, .footer__photoCredit {
      margin: 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      font-size: 1rem; }
    .footer__socialMedia {
      margin: 20px 0; } }

@media all and (max-width: 550px) {
  .menu {
    height: 60px; }
    .menu__hamburger {
      visibility: visible;
      position: absolute;
      right: 0;
      width: 100%;
      color: #a2a9da; }
      .menu__hamburger i {
        position: absolute;
        top: 10px;
        right: 40px;
        font-size: 2.5rem; }
      .menu__hamburger:hover {
        color: #b42c72; }
    .menu__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 30px;
      max-width: 100%;
      background: #0f0c1f; }
      .menu__list--item {
        height: 60px; }
    .menu--show {
      visibility: hidden; }
  .skills img {
    display: none; }
  .skills__skill {
    width: inherit;
    height: inherit; } }

@media all and (max-width: 450px) {
  h1, h2, h3, h4 {
    font-size: 3rem; }
  h4 {
    font-size: 1rem; }
  .header__button {
    width: 100%; }
  .projects__projectButtons {
    margin-bottom: 10px;
    width: 260px; }
    .projects__projectButtons a {
      width: 120px; } }
